<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>WELCOME TO LIBRARY APP
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>
  
  
  <div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            <div class="secondNav">
                <a routerLink="user-login">User Login</a>
                <a routerLink="admin-login">Admin Login</a>
                <a routerLink="user-signup">Register as new User</a>
            
            </div>
            
            <!--/stories-->
                <router-outlet></router-outlet>
            <!--/stories-->
            
            
            <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
          
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>
                                                  
                                                                                  
  <hr>
  
  
  