/* You can add global styles to this file, and also import other style files */
/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#cecece;
 
}


#masthead {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:#111166;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}



.container1{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgbo(0,0,0,0.3);
  width: 400px;
  max-width: 100%;
  overflow:hidden;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 2%;

}
.header1{
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}
.header1 h2{
  margin: 0;
}
.form1{
  padding: 30px 40px;
}
.form-control1{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control1 label{
  display: inline-block;
  margin-bottom: 5px;
}
.form-control1 input{
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;

}
.form-control1.success input{
  border-color: #2ecc71;
}
.form-control1.error input{
  border-color: #e74c3c;
}
.form-control1 i{
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}
.form-control1.success i.fa-check-circle{
  color: #2ecc71;
  visibility:visible; 
}
.form-control1.error i.fa-exclamation-circle{
  color:  #e74c3c;
  visibility: visible;
}
.form-control1 small{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;

}
.form-control1.error small{
  color: #e74c3c;
  visibility:visible;
}
.form1 button{
  background-color:grey;
  border: 2px solid grey;
  border-radius: 4px;
  color: white;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.indicator{
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px,0;
  padding: 2px;
  display: none;

}
.indicator span{
  width: 100%;
  height: 100%;
  background: lightgray;
  border-radius: 5px;
  position: relative;
}
.indicator span.medium{
  margin: 0,3px;
}
.indicator span::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: red; */
  border-radius: 5px;
  
}
.indicator span.active.weak::before{
  background: #ff4757;
}
.indicator span.active.medium::before{
  background: orange;
}
.indicator span.active.strong::before{
  background:green;
}
.pwdsts.weak{
  color: #ff4757;
}
.pwsts.medium{
  color: orange;
}
.pwdsts.strong{
  color: green;
}

.form-control1 p{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-control1.weak p{
  color: #e74c3c;
  visibility:visible;
}
.form-control1.medium p{
  color: orange;
  visibility:visible ;
}
.form-control1.strong p{
  color: green;
  visibility: visible;
}
h2{
  text-align: center;
}